<section class="DoctorsCards">
  <div class="Doctors-container">
    <h1 class="AboutHeading">Doctors</h1>
    <h3 class="AboutTitle">Our professional doctors</h3>

    
    
   
    <div class="DoctorsBox-container">
      <% doctors.forEach(function(doctor) { %>
        <div class="DoctorsBox">
          <img src="<%= doctor.image %>" alt="doctor service">
          <div class="DoctorsContent">
            <a href="#">
              <h2><%= doctor.name %></h2>
            </a>
            <p><%= doctor.specialty %></p>
            <div class="Doctors-icons">
              <a href="<%= doctor.socialLinks.facebook %>" class="bi bi-facebook"></a>
              <a href="<%= doctor.socialLinks.instagram %>" class="bi bi-instagram"></a>
              <a href="<%= doctor.socialLinks.twitter %>" class="bi bi-twitter"></a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</section>
